{{#each ideas}}
  <div class="card card-body mb-2">
    <h4>{{title}}</h4>
    <p>{{details}}</p>
    <a href="/ideas/edit/{{id}}" class="btn btn-dark btn-block">编辑</a>

    <form method="POST" action="/ideas/{{id}}?_method=DELETE">
      <input type="hidden" name="method" value="DELETE">
      <input type="submit" class="btn btn-danger btn-block" value="删除">
    </form>
  </div>
{{else}}
  <p>还没有任何想学的课程!</p>
{{/each}}